<div class="instruments-list">
  <ul>
    <li *ngFor="let instrument of instruments">
      <div *ngIf="instrument.name === 'guitar'" class="icon-container">
        <fa-icon [icon]="faGuitar"></fa-icon>
      </div>
      <div *ngIf="instrument.name === 'drum'" class="icon-container">
        <fa-icon [icon]="faDrum"></fa-icon>
      </div>
      <div *ngIf="instrument.name === 'singer'" class="icon-container">
        <fa-icon [icon]="faMicrophone"></fa-icon>
      </div>
      <div *ngIf="instrument.name === 'piano'" class="icon-container">
        <fa-icon [icon]="faKeyboard"></fa-icon>
      </div>
      <div *ngIf="instrument.name === 'producer'" class="icon-container">
        <fa-icon [icon]="faPlay"></fa-icon>
      </div>
      <div *ngIf="instrument.name === 'other'" class="icon-container">
        <fa-icon [icon]="faQuestion"></fa-icon>
      </div>
    </li>

    <ul *ngIf="instruments.length === 0">
      <li>
        <div class="icon-container">
          <fa-icon [icon]="faTimes"></fa-icon>
        </div>
      </li>
    </ul>
  </ul>
</div>
