@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700|Playfair+Display");

* {
  font-family: "Nunito Sans", "sans-serif";
  font-weight: 300;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  color: #3d3d3f;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  line-height: normal;
}

p,
li,
a {
  font-size: 16px;
}

.submission-button {
  background-color: black;
  color: #d7b065;
  font-size: 1.5rem;
  padding: 0.6rem;
  font-size: 16px;
  transition: all ease-in 0.2s;

  &:hover {
    background-color: white;
    box-shadow: inset 0 0 0 5px #d7b065;
  }
}

.submission-button-secondary {
  background-color: #d7b065;
  color: white;
  font-size: 1.5rem;
  padding: 0.6rem;
  font-size: 16px;
  transition: all ease-in 0.2s;

  &:hover {
    background-color: white;
    color: black;
    box-shadow: inset 0 0 0 5px #d7b065;
  }
}

.button-max-width {
  width: 100%;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #d7b065;
  border-color: #d7b065;
}

.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open,
.member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #d7b065;
}

.nav-tabs > li.open,
.member-tabset > .nav-tabs > li > a {
  color: #d7b065;
}
.member-tabset > .nav-tabs > li.open > a,
.member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.open > a > i,
.member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu,
.member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #d7b065;
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

// ANIMATIONS

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
