<div class="row">
  <div class="col-sm-12 col-md-3 col-lg-3">
    <div class="card">
      <img
        src="{{ member.photoUrl || '../../../../../assets/images/user.png' }}"
        alt="{{ member.username }}"
        class="card-img-top img-thumbnail"
      />
      <div class="card-body">
        <div>
          <h3>{{ member.username | titlecase }}</h3>
        </div>
       
        <div>
          <strong>Location:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>

        <div>
          <strong>Bandname:</strong>
          <p>{{ member.bandName || "Solo Artist" }}</p>
        </div>

        <div>
          <strong>Last Active:</strong>
          <p>{{ member.lastActive | timeago }}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{ member.created | date: "dd MMM yyyy" }}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn submission-button" (click)="selectTab(2)">
            Message
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-9">
    <tabset class="member-tabset" #memberTabs>
      <tab
        heading="About {{ member.username | titlecase }}"
        (selectTab)="onTabActivated($event)"
      >
        <h4>About me:</h4>
        <p>{{ member.introduction }}</p>
        <h4>Looking for:</h4>
        <p>{{ member.lookingFor }}</p>

        <div class="instruments-list">
          <h4>Instruments:</h4>
          <ul>
            <li *ngFor="let instrument of member.instruments">
              <div *ngIf="instrument.name === 'guitar'" class="icon-container">
                <fa-icon [icon]="faGuitar"></fa-icon>
              </div>
              <div *ngIf="instrument.name === 'drum'" class="icon-container">
                <fa-icon [icon]="faDrum"></fa-icon>
              </div>
              <div *ngIf="instrument.name === 'singer'" class="icon-container">
                <fa-icon [icon]="faMicrophone"></fa-icon>
              </div>
              <div *ngIf="instrument.name === 'piano'" class="icon-container">
                <fa-icon [icon]="faKeyboard"></fa-icon>
              </div>
              <div
                *ngIf="instrument.name === 'producer'"
                class="icon-container"
              >
                <fa-icon [icon]="faPlay"></fa-icon>
              </div>
              {{ instrument.name | titlecase }}
            </li>
          </ul>
        </div>
        <div>
          <h4>Age:</h4>
          <p>{{ member.age }}</p>
        </div>
      </tab>

      <tab heading="Photos" (selectTab)="onTabActivated($event)">
        <div class="gallery">
          <ngx-gallery
            [options]="galleryOptions"
            [images]="galleryImages"
            style="display: inline-block; margin-bottom: 20px"
            NgxGalleryImageSize="Contain"
          ></ngx-gallery>
        </div>
      </tab>

      <tab heading="Messages" (selectTab)="onTabActivated($event)">
        <app-member-messages
          [messages]="messages"
          [username]="member.username"
        ></app-member-messages>
      </tab>
    </tabset>
  </div>
</div>
