<div class="home-section">
  <div>
    <div
      class="home-wrapper"
      *ngIf="(accountService.currentUser$ | async) === null"
    >
      <h2>Welcome to BandFinder</h2>
      <h1>
        Connecting artists and cultivating a community for creatives to meet,
        collaborate and grow.
      </h1>
    </div>
    <div
      class="home-wrapper mt--5"
      *ngIf="accountService.currentUser$ | async as user"
    >
      <h2>Welcome back {{ user.username }}</h2>

      <h1>
        We missed you! Go to your account and catch up on your messages and see
        who is new in the world of BANDFINDER!
      </h1>

      <h1 style="color: #d7b065" class="my-2" *ngIf="pagination">
        You have
        <strong style="color: black">{{ pagination.totalItems }}</strong> new
        messages.
      </h1>
    </div>
  </div>
</div>

<!-- ABOUT SECTION  -->
<section
  class="about-section row"
  *ngIf="(accountService.currentUser$ | async) === null"
>
  <div class="col-lg-6 about-left mb-5">
    <img src="../../assets/images/guitarist.jfif" alt="about image" />

    <h4>Looking for an artist or band?</h4>

    <p>
      In our community we have various artists and bands willing to share their
      talents with other artists. Click below to view our members who are
      looking for people to collaborate with!
    </p>
    <div class="button-container">
      <a
        class="about-buttons"
        routerLink="/authentication/login"
        routerLinkActive="active"
        >View the Artists</a
      >
    </div>
  </div>

  <div class="about-right col-lg-6">
    <div>
      <h3>Join our community today</h3>
      <h5>
        Take advantage of our active community, not only to find the band you're
        looking for but for so much more!
      </h5>
    </div>
    <div>
      <ul class="icons-list">
        <li>
          <div><i class="fa fa-music"></i></div>
          Show off your music
        </li>
        <li>
          <div><i class="fa fa-thumbs-up"></i></div>
          Share posts and photos with your fans
        </li>
        <li>
          <div><fa-icon [icon]="faGuitar"></fa-icon></div>
          Find artists for your band
        </li>
        <li>
          <div><i class="fa fa-users"></i></div>
          Find a band to play with
        </li>
        <li>
          <div><i class="fa fa-calendar"></i></div>
          Tell your fans about your concerts
        </li>
      </ul>
    </div>
    <div class="button-container">
      <a
        class="about-buttons"
        routerLink="/authentication/login"
        routerLinkActive="active"
        >Sign up for free!</a
      >
    </div>
  </div>
</section>

<!-- COMMUNITY SECTION  -->

<section class="community-section">
  <div class="community-header">
    <h2>Our Community</h2>
    <p>
      Here are some of the cool things our members, both artists and bands, have
      shared in the past. Check them out and don't be afraid to share something
      yourself!
    </p>
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="community-boxes">
        <img
          src="https://quincy-network.s3.ca-central-1.amazonaws.com/wp-content/uploads/sites/8/2020/08/0803_kanye-860x645.jpg"
          className="img-responsive"
          alt="Kanye"
        />
        <h4>Kanye</h4>
        <ul class="instruments-list">
          <li>
            <div class="icon-container">
              <fa-icon [icon]="faGuitar"></fa-icon>
            </div>
          </li>
          <li>
            <div class="icon-container">
              <fa-icon [icon]="faDrum"></fa-icon>
            </div>
          </li>
          <li>
            <div class="icon-container">
              <fa-icon [icon]="faMicrophone"></fa-icon>
            </div>
          </li>
          <li>
            <div class="icon-container">
              <fa-icon [icon]="faKeyboard"></fa-icon>
            </div>
          </li>
          <li>
            <div class="icon-container">
              <fa-icon [icon]="faPlay"></fa-icon>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="community-boxes">
        <img
          src="https://res.cloudinary.com/dt9m67fqv/image/upload/v1608747388/pfylek4rnwkh9dh4jrsu.jpg"
          className="img-responsive"
          alt="Mozie"
        />
        <h4>Mozard69</h4>
        <ul class="instruments-list">
          <li>
            <div class="icon-container">
              <fa-icon [icon]="faKeyboard"></fa-icon>
            </div>
          </li>

          <li>
            <div class="icon-container">
              <fa-icon [icon]="faPlay"></fa-icon>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="community-boxes">
        <img
          src="https://media.resources.festicket.com/image/300x300/center/top/filters:quality(70)/www/artists/LadyGaga.jpg"
          className="img-responsive"
          alt="Kanye"
        />
        <h4>LadyG</h4>
        <ul class="instruments-list">
          <li>
            <div class="icon-container">
              <fa-icon [icon]="faMicrophone"></fa-icon>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
