<div class="home-section">
  <div>
    <div class="home-wrapper">
      <h2>Welcome to BandFinder</h2>
      <h1>
        Connecting artists and cultivating a community for creatives to meet,
        collaborate and grow.
      </h1>
    </div>
  </div>
</div>

<!-- ABOUT SECTION  -->
<section class="about-section row">
  <div class="col-lg-6 about-left mb-5">
    <img src="../../assets/images/guitarist.jfif" alt="about image" />

    <h4>Looking for an artist or band?</h4>
    <p>
      In our community we have various artists and bands willing to share their
      talents with other artists. Click below to view our members who are
      looking for people to collaborate with!
    </p>
    <div class="button-container">
      <a
        class="about-buttons"
        routerLink="/authentication/login"
        routerLinkActive="active"
        >View the Artists</a
      >
    </div>
  </div>

  <div class="about-right col-lg-6">
    <div>
      <h3>Join our community today</h3>
      <h5>
        Take advantage of our active community, not only to find the band you're
        looking for but for so much more!
      </h5>
    </div>
    <div>
      <ul class="icons-list">
        <li>
          <div><i class="fa fa-music"></i></div>
          Show off your music
        </li>
        <li>
          <div><i class="fa fa-thumbs-up"></i></div>
          Share posts and photos with your fans
        </li>
        <li>
          <div><fa-icon [icon]="faGuitar"></fa-icon></div>
          Find artists for your band
        </li>
        <li>
          <div><i class="fa fa-users"></i></div>
          Find a band to play with
        </li>
        <li>
          <div><i class="fa fa-calendar"></i></div>
          Tell your fans about your concerts
        </li>
      </ul>
    </div>
    <div class="button-container">
      <a
        class="about-buttons"
        routerLink="/authentication/login"
        routerLinkActive="active"
        >Sign up for free!</a
      >
    </div>
  </div>
</section>

<!-- COMMUNITY SECTION  -->

<section class="community-section">
  <div class="community-header">
    <h2>Our Community</h2>
    <p>
      Here are some of the cool things our members, both artists and bands, have
      shared in the past. Check them out and don't be afraid to share something
      yourself!
    </p>
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    <div class="col-lg-4">
      <div class="community-boxes">
        <img
          src="../../assets//images/guitarist.jfif"
          className="img-responsive"
          alt="Fine Arts"
        />

        <h4>artist 1</h4>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="community-boxes">
        <img
          src="../../assets//images/guitarist.jfif"
          className="img-responsive"
          alt="artist 1"
        />
        <h4>artist 1</h4>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="community-boxes">
        <img
          src="../../assets//images/guitarist.jfif"
          className="img-responsive"
          alt="artist 1"
        />
        <h4>artist 1</h4>
      </div>
    </div>
  </div>
</section>
