.container {
  @media screen and (max-width: 992px) {
    height: 130px;
  }
}
.filters-form {
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  align-items: center;

  label {
    margin-bottom: 0;
    padding: 0 10px;
  }

  select {
    width: 130px;
    @media screen and (max-width: 992px) {
      width: 90px;
    }
  }

  button {
    height: 42px;
  }

  .form-group {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (max-width: 992px) {
    margin-bottom: 50px;
  }
}

.form-group {
  display: flex;
  align-items: center;
}

.filters-group {
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 992px) {
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    button {
      width: 45%;
    }
  }
}

.filter-inputs {
  @media screen and (max-width: 772px) {
    div {
      flex-direction: column;
    }
  }
}

.selected {
  background-color: white;
  border: 1px solid #d7b065;
}

.members-list {
  @media screen and (max-width: 992px) {
    margin-top: 50px;
  }

  @media screen and (max-width: 770px) {
    margin-top: 80px;
  }
}
