<nav class="navbar">
  <h1 class="navbar-logo">BANDFINDER</h1>
  <div>
    <i
      [className]="
        !isClicked ? 'fa fa-bars nav-toggle' : 'fa fa-times nav-toggle'
      "
      (click)="navBarClick()"
    ></i>

    <ul
      [className]="isClicked ? 'nav-menu active' : 'nav-menu'"
      *ngIf="accountService.currentUser$ | async as user"
    >
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          (click)="navBarClick()"
          >Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/members"
          routerLinkActive="active"
          (click)="navBarClick()"
          >Members</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/messages"
          routerLinkActive="active"
          (click)="navBarClick()"
          >Messages</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link profile-nav-container"
          routerLink="/member/edit"
          routerLinkActive="active"
          (click)="navBarClick()"
          >Your account
          <img
            src="{{ user.photoUrl || '../../../../assets//images//user.png' }}"
            alt="{{ user.username }}"
            class="profile-nav"
        /></a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/messages"
          routerLinkActive="active"
          (click)="navBarClick()"
          (click)="logout()"
          >Sign out</a
        >
      </li>
    </ul>

    <ul
      [className]="isClicked ? 'nav-menu active' : 'nav-menu'"
      *ngIf="(accountService.currentUser$ | async) === null"
    >
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          (click)="navBarClick()"
          >Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/authentication/signup"
          routerLinkActive="active"
          (click)="navBarClick()"
          >Create an account</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/authentication/login"
          routerLinkActive="active"
          (click)="navBarClick()"
          >Sign in</a
        >
      </li>
    </ul>
  </div>
</nav>
