.message-input {
  height: 58px;
  &:focus {
    border: 1px solid #d7b065;
  }
}
.card {
  border: none;
}

.over-flow-control {
  max-height: 495px;
  overflow-y: scroll;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #b3a9a9;
}

.rounded-circle {
  max-height: 50px;
}
