img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}

.img-thumbnail {
  display: block;
  margin: auto;
}
.nv-file-over {
  border: dotted 3px red;
}

input[type="file"] {
  color: transparent;
}

.photo-upload-button {
  padding: 5px;
  color: #d7b065;
  background: black;
}

.disabled {
  cursor: not-allowed;
  background: white;
}
